@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family:'poem' ;
    src: url(../fonts/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --title-font: 'Passion One', sans-serif;
    --poem-font: 'poem', helvetica, serif;
    --default-font: Verdana, Tahoma, sans-serif;
}


html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--default-font);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5vw;
    font-family: var(--title-font);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4vw;
    font-family: var(--poem-font);
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.image > p {
    width: 50vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.253);
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px 0;
}