@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family:'poem' ;
    src: url(../fonts/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --title-font: 'Passion One', sans-serif;
    --poem-font: 'poem', helvetica, serif;
    --default-font: Verdana, Tahoma, sans-serif;
}


html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--default-font);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4vw;
    font-family: var(--title-font);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    font-family: var(--poem-font);
}

section#img01 {
    background-image: url('../img/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../img/background002.jpg');
    background-position: left bottom;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 12px 12px 20px rgba(0, 0, 0, 0.336);
    background-size: cover;
    background-attachment: fixed;
}

section.image > p {
    padding: 10px;
    width: 40vw;
    background-color: rgba(37, 37, 37, 0.644);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.699);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px 0;
}